<!-- _booking_notification.html.erb -->


    <% curr_products = current_user.products %>
    <% curr_bookings = curr_products.map {|p| p.bookings } %>
    <% if curr_bookings[0].any? {|b| b[:status] == 'pending'} %>
      <div style="background-color: red; border-radius: 50%; width: 200px;"></div>
    <% end %>

