<footer>
  <div class="text-alingn-left">
    <p>Made with ❤️ and ☕️ by: Ana, Belen, Carol and Gabi.</p>
  </div>
  <div class="text-alingn-right">
    <p>© 2019 Copyright: Make A Scene.</p>
  </div>
</footer>
