<nav class="navbar">
  <%= link_to root_path do %>
  <span class="navbar-logo">Make A Scene</span>
  <% end %>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search for a product" aria-label="Search">
    <button class="btn pink-button my-2 my-sm-0 mr-5" type="submit">Search</button>
    <button class="btn pink-button m-2 pr-2 pl-2" type="submit">Sign In</button>
    <button class="btn pink-button m-2 pr-2 pl-2" type="submit">Register</button>
  </form>
</nav>
