// _dashboard.scss
.dashboard {
  background-color: $background-pink;
  border-radius: 6px;
  width: 1100px;
  padding: 20px;
  margin: 20px auto auto auto;

}


.tabies {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.tabs-underlined .tab-underlined {
  color: black;
  padding: 8px;
  margin: 8px 16px;
  opacity: .4;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
}

.tabs-underlined .tab-underlined.active {
  opacity: 1;
  border-bottom: 3px solid #555555;
  text-decoration: none;
}

