// _dashboard.scss
.dashboard {
  background-color: $background-pink;
  border-radius: 6px;
  width: 1100px;
  padding: 20px;
  margin: 20px auto auto auto;
  display: flex;

}

.my_product_view {
  background-color: white;
  width: 900px;

}
