// Import page-specific CSS files here.
@import "home";

.container {
  background-color: white;
}
.cards {
  width: 1200px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  background-color: #F9F4F4;
  border-radius: 6px;
}

.product-card {
  background-color: $white;
  height: 100px;
  width: 100px;
  margin: 40px;
}

