
.product-image-show {
  display: block;
  width: 100vw;
  object-fit: cover;
  height: 50vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.product-show-card h1, p, h3 {
  color: gray;
}
.product-show-card {
  margin: 20px;
  padding: 20px;
}
.product-show-description-location-card {
  width: 100%;
}
.product-show-description {
  margin-top: 50px;
  margin-bottom: 50px;
}

.product-show-description-location-card a {
  text-decoration: none;
  font-weight: bold;
  color: gray;
    &:hover {
  font-weight: bold;
  color: $pink;
  }
}
.pink-button {
  color: gray;
  border: 1px solid gray;
  border-radius: 10px;
  width: 150px;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.5);
}

.pink-button:hover {
background-color: $pink;
}

.product-show-booking {
margin-right: 20px;
}

.product-show-calendar {
  margin-top: 50px;
}
.image_editing {
  margin: 30px;
}
.submit-button {
  background-color: black;
  padding: 10px;
  color: white;
  margin-top: 5px;
}
.submit-button:hover {
  color: $pink;
  opacity: 0.9;
}
