<!-- index.html.erb -->
<div class="dashboard">
  <div class="tabies tabs-underlined ">
    <%= link_to dashboard_path do%>
      <h3 class="tab-underlined decorat">My Products</h3>
    <% end %>
    <%= link_to bookings_path do%>
      <h3 class="tab-underlined decorat active">My Bookings</h3>
    <% end %>
    <%= link_to edit_user_registration_path do%>
      <h3 class="tab-underlined decorat">My Profile</h3>
    <% end %>
  </div>
    <%= render 'components/booking-card' %>
</div>
