<!-- dashboard.html.erb -->
<div class="dashboard">
  <div class="tabies tabs-underlined ">
    <h3 class="tab-underlined active">My Products</h3>
    <h3 class="tab-underlined">My Bookings</h3>
    <h3 class="tab-underlined">My Profile</h3>
  </div>
    <%= render 'components/dashboard-product-card' %>
</div>

