<div class="hero-image">
  <div class="hero-text">
    <h1 style="font-size:50px">give your old stuff a second life...</h1>
      <hr class="divider my-4">
    <p>the leading rental platform for antique props in the audiovisual industry</p>
    <button class="btn pink-button m-2 pr-2 pl-2" type="button">Find out more</button>
  </div>
</div>

