<div class="hero-image">
  <div class="hero-text">
    <h1 style="font-size:50px">Find the attrezzo to make your movie</h1>
      <hr class="divider my-4">
    <p>The leading rental platform for antique props in the audiovisual industry</p>
    <%= link_to products_path do %>
    <button class="btn pink-button m-2 pr-2 pl-2" type="button">See all props</button>
    <% end %>
  </div>
</div>

