.booking-card-info {
  width: 870px;
}

.darker-title {
  color: black;
}
.booking-cancel-button {
  background-color: black;
  padding: 10px;
  color: white;
}
.booking-card-info a:hover {
  color: $pink;
  background-color: $gray;
}
.status {
  width: 110px;
}
.spendig {
  margin-top: 5px;
  font-size: 12px;
  color: #F5C600
}
.saccepted {
  margin-top: 5px;
  color: #00933E;
  font-size: 12px;
}
.srejected {
  margin-top: 5px;
  color: #F71228;
  font-size: 12px;
}
.sarchived {
  margin-top: 5px;
  font-size: 12px;
  color: $gray;
}
a .booking-card-title-name:hover {
 opacity: 0.5;
}
