body, html {
    height: 100%;
}

.slide-image1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.pexels.com/photos/594388/vinyl-record-player-retro-594388.jpeg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // position: relative;
}

.slide-image2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.pexels.com/photos/247929/pexels-photo-247929.jpeg");
  height: 100vh;
}

.slide-image1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.pexels.com/photos/594388/vinyl-record-player-retro-594388.jpeg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // position: relative;
}

.slide-image2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.pexels.com/photos/247929/pexels-photo-247929.jpeg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // position: relative;
}

.carousel-inner {
  text-align: center;
position: relative;
}

.texto {
position: absolute;
top: 40%;
width: 50%;
left: 25%;
}


.phrase {
  color: white;
  font-style: bold;
  // text-align: center;
  // top: 40%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  // position: absolute;
}

.short-description {
  color: white;
}


.phrase {
  color: white;
  font-style: bold;
  // text-align: center;
  // top: 40%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  // position: absolute;
}

.short-description {
  color: white;
}
