
.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  display: flex;
  align-items: center;
  border: 1px solid $light-gray;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.booking-card-info button{
  border: none;
  font-size: 12px;
  padding: 0;
}

.cancel-button:hover {
  color: black;
}
.yello {
  margin-top: 10px;
  font-size: 12px;
  color: #F5C600
}
.accepted {
  margin-top: 10px;
  color: #00933E;
  font-size: 12px;
}
.rejected {
  margin-top: 10px;
  color: #F71228;
  font-size: 12px;
}
.archived {
  margin-top: 10px;
  font-size: 12px;
  color: $gray;
}

