<%= render 'components/category-filter' %>
  <% if @products.present? %>
<div class="container"style="min-height: 100%;">
    <div class="cards-container">
    <%= render 'components/card' %>
   </div>
     </div>
  <% else %>
    <%= render 'components/zero-result-page' %>
  <% end %>

