<!-- index.html.erb -->
<!-- render searchbar -->
<div class="searchbar">
  <form action="/products" method="get">
    <input type="text" name="query" placeholder="search for a product">
    <input type="submit">
  </form>
</div>

<div class="container">
  <div class="container cards">
  <p><%= @query %></p>
    <div class="row">
      <% @products.each do |product| %>
        <div class="col-md-3 col-sm-6">
          <div class="product-card">
            <p><%= product.title %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
